@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #04080f;
    color: #dae3e5;
    font-family: 'Poppins';
}

.messages-container {
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    bottom: 20px;
    right: 20px;
    margin-right: 15px;
    pointer-events: none;
}

.error-message {
    background-color: rgb(234, 94, 94);
    color: white;
    padding: 10px;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 0.3s ease;
    margin-bottom: 10px;
    width: 30vw;
    box-shadow: black 0px 5px 5px;
    user-select: none;
}

.error-message.hide {
    opacity: 0;
}

.success-message {
    background-color: #23bf57;
    color: white;
    padding: 10px;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 0.3s ease;
    margin-bottom: 10px;
    width: 30vw;
    box-shadow: black 0px 5px 5px;
    user-select: none;
}

.success-message.hide {
    opacity: 0;
}

#json-container {
    padding: 10px;
    margin: 20px;
    border: 1px solid #ccc;
}

.expand-btn {
    cursor: pointer;
    margin-left: 10px;
    color: rgb(255, 90, 90);
    user-select: none;
}

.json-array {
    padding: 15px;
    border: #004e64 solid 5px;
    background-color: #023e8a;
}

.json-array > * {
    margin-top: 5px;
}

.json-object {
    padding: 10px;
    border: #00a5cf solid 5px;
    background-color: #0077b6;
    border-radius: 15px;
}

.arrow::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('../images/arrow-right.png');
    background-size: contain; 
    background-repeat: no-repeat;
    margin-right: 5px;
    cursor: pointer;
}

.active::before {
    content: '';
    background-image: url('../images/arrow-down-right.png');
}